@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  color: #0f172a;
  text-rendering: geometricPrecision;
}

@layer base {
  body {
    margin: 0;
    min-height: 100dvh;
    background-color: #303136 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    min-height: 100dvh;
  }
}
