SUPABASE_PROJECT_REF=mriposqrvdkcuhuzbdvp
SUPABASE_ACCESS_TOKEN=seu_personal_access_token_supabase
VITE_SUPABASE_URL=https://mriposqrvdkcuhuzbdvp.supabase.co
VITE_SUPABASE_ANON_KEY=sua_chave_anon_deste_projeto
